* {
	margin: 0;
	padding: 0;
}

.pixels-grid-container {
	margin: 0 auto;
	width: -moz-fit-content;
}

.bordered {
	border: 1px solid black;
}

#matrix-container {
	display: flex;
	flex-direction: column;
}

#matrix-container .matrix-row {
	display: flex;
	flex-direction: rows;
	align-items: flex-start;
	padding: 0;
	margin: 0;
	height: -moz-fit-content;
	width: -moz-fit-content;
}

#matrix-container .matrix-row .pixel {
	display: inline-block;
	background-color: white;
	box-sizing: content-box;
	border: 1px solid #eee;
} 

.fit-container {
	height: -moz-fit-content;
	width: -moz-fit-content;
}
