* {padding: 0; margin: 0;}
#wrapper {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
#main-container {
    margin: 0 auto;
    max-width: 96%;
    width: 60%;
    padding: 2em;
}
#main-container > h1 {
    font-family: Roboto, 'Segoe UI', Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    width: 100%;
    text-align: center;
    margin-block: 1em;
}
#main-container > ul {
    list-style: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
#main-container > ul > a > li {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    padding: .5em;
    text-align: center;
    font-weight: 600;
}
#main-container > ul > a {
    color: #333;
    text-decoration: none;
    margin: 24px 8px;
    transition: border-radius ease-out .333s;
}
#main-container > ul > a:hover {
    color: whitesmoke;
    background-color: slateblue;
    border-radius: 12px;
}
